In [612]:
import pandas as pd
import numpy as np

In [613]:
df = pd.read_csv(r"C:\Users\rendonjimenez.5\OneDrive - Teleperformance\Desktop\clean_credit_score_classification_train.csv")

In [614]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,7.0,11.27,4.0,Good,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1.0,4.0,11.27,4.0,Good,809.98,31.944960,266.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,7.0,11.27,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5.0,4.0,6.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6.0,4.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good

In [615]:
loan_types = []
for r in df.Type_of_Loan:
    loan_types.extend(r.replace("and","").replace(" ","").split(","))
loan_types = list(set(loan_types))

In [616]:
loan_types

['Credit-BuilderLoan',
 'HomeEquityLoan',
 'PersonalLoan',
 'DebtConsolidationLoan',
 'NotSpecified',
 'PaydayLoan',
 'AutoLoan',
 'NoData',
 'MortgageLoan',
 'StudentLoan']

In [617]:
for t in loan_types:
    df[t] = df.Type_of_Loan.map(lambda x: x.replace(" ","")).map(lambda x: x.count(t))

In [618]:
pd.options.display.max_columns = 40

In [619]:
df = df.drop('Type_of_Loan', axis=1)

In [620]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,Good,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,1,1,1,0,0,0,1,0,0,0
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,Good,809.98,31.944960,266.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,1,1,1,0,0,0,1,0,0,0
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good,1,1,1,0,0,0,1,0,0,0
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,1,1,1,0,0,0,1,0,0,0
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,1,1,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,23.0,7.0,11.50,3.0,Good,502.38,34.663572,378.0,No,35.104023,60.971333,High_spent_Large_value_payments,479.866228,Poor,0,0,0,0,0,0,1,0,0,1
99996,155626,37932,5,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,7.0,11.50,3.0,Good,502.38,40.565631,379.0,No,35.104023,54.185950,High_spent_Medium_value_payments,496.651610,Poor,0,0,0,0,0,0,1,0,0,1
99997,155627,37932,6,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,27.0,6.0,11.50,3.0,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor,0,0,0,0,0,0,1,0,0,1
99998,155628,37932,7,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,20.0,6.0,11.50,3.0,Good,502.38,33.638208,381.0,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard,0,0,0,0,0,0,1,0,0,1
99999,155629,37932,8,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,6.0,11.50,3.0,Good,502.38,34.192463,382.0,No,35.104023,167.163865,Low_spent_Small_value_payments,393.673696,Poor,0,0,0,0,0,0,1,0,0,1

In [621]:
df.iloc[:,27:].sum().sort_values(ascending=False)

PaydayLoan               40568
Credit-BuilderLoan       40440
NotSpecified             39616
HomeEquityLoan           39104
StudentLoan              38968
MortgageLoan             38936
PersonalLoan             38888
DebtConsolidationLoan    38776
AutoLoan                 37992
NoData                   11408
dtype: int64

In [622]:
df = df.drop('Annual_Income', axis=1)

In [623]:
df["Spent_Behaviour"]= df.Payment_Behaviour.map(lambda x: x.replace("_","").replace("valuepayments","").split("spent")[0])
df["Value_Payments_Behaviour"]= df.Payment_Behaviour.map(lambda x: x.replace("_","").replace("valuepayments","").split("spent")[1])

In [624]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Spent_Behaviour,Value_Payments_Behaviour
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,Good,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,1,1,1,0,0,0,1,0,0,0,High,Small
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,Good,809.98,31.944960,266.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,1,1,1,0,0,0,1,0,0,0,Low,Large
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good,1,1,1,0,0,0,1,0,0,0,Low,Medium
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,1,1,1,0,0,0,1,0,0,0,Low,Small
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,1,1,1,0,0,0,1,0,0,0,High,Medium

In [625]:
df.Value_Payments_Behaviour.unique()

array(['Small', 'Large', 'Medium'], dtype=object)

In [626]:
df = df.drop("Payment_Behaviour", axis=1)

In [627]:
df.groupby("Spent_Behaviour")["Spent_Behaviour"].count()

Spent_Behaviour
High    46056
Low     53944
Name: Spent_Behaviour, dtype: int64

In [628]:
df.groupby("Value_Payments_Behaviour")["Value_Payments_Behaviour"].count()

Value_Payments_Behaviour
Large     25412
Medium    33639
Small     40949
Name: Value_Payments_Behaviour, dtype: int64

In [629]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Spent_Behaviour,Value_Payments_Behaviour
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,Good,809.98,26.822620,265.0,No,49.574949,80.415295,312.494089,Good,1,1,1,0,0,0,1,0,0,0,High,Small
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,Good,809.98,31.944960,266.0,No,49.574949,118.280222,284.629162,Good,1,1,1,0,0,0,1,0,0,0,Low,Large
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,331.209863,Good,1,1,1,0,0,0,1,0,0,0,Low,Medium
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,Good,809.98,31.377862,268.0,No,49.574949,199.458074,223.451310,Good,1,1,1,0,0,0,1,0,0,0,Low,Small
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,Good,809.98,24.797347,269.0,No,49.574949,41.420153,341.489231,Good,1,1,1,0,0,0,1,0,0,0,High,Medium

In [630]:
df = df.drop("ID Name SSN Credit_Mix".split(), axis=1)

In [631]:
df.Payment_of_Min_Amount = df.Payment_of_Min_Amount.map(lambda x: np.NaN if x == "NM" else x)
df.Payment_of_Min_Amount.unique()

array(['No', nan, 'Yes'], dtype=object)

In [632]:
import scipy.stats as stats
def Reassign_Group_Object_NaN_Values(df, groupby, column, inplace=True):      
    # Assigning Wrong values Make Simple Function
    def make_NaN_and_fill_mode(df, groupby, column, inplace=True):
        # Assign None to np.NaN
        if df[column].isin([None]).sum():
            df[column][df[column].isin([None])] = np.NaN
            
        # fill with local mode
        result = df.groupby(groupby)[column].transform(lambda x: x.fillna(stats.mode(x)[0][0]))

        # inplace
        if inplace:
            df[column]=result
        else:
            return result
    
    # Run      
    if inplace:  
        # Before Assigning Wrong values      
        x = df[column].value_counts(dropna=False).head(1)
        print(f'\nBefore Assigning NaN {column}:', [x if x.index[0] is np.NaN or x.index[0] is None else 'No NaN Value'] , end='\n')
        a = df.groupby(groupby)[column].apply(list) 
        print(f'\nBefore Assigning Example {column}:\n', *a.head().values, sep='\n', end='\n')
        
        # Assigning
        make_NaN_and_fill_mode(df, groupby, column, inplace)
        
        # After Assigning Wrong values
        y = df[column].value_counts(dropna=False).head(1)
        print(f'\nAfter Assigning NaN {column}:', [y if y.index[0] is np.NaN or x.index[0] is None else 'No NaN Value'] , end='\n')
        b = df.groupby(groupby)[column].apply(list)
        print(f'\nAfter Assigning Example {column}:\n', *b.head().values, sep='\n', end='\n')
    else:   
        # Show
        return make_NaN_and_fill_mode(df, groupby, column, inplace)

In [633]:
Reassign_Group_Object_NaN_Values(df, 'Customer_ID', 'Payment_of_Min_Amount')

Before Assigning NaN Payment_of_Min_Amount: ['No NaN Value']

Before Assigning Example Payment_of_Min_Amount:

['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']
['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']
['Yes', 'Yes', 'Yes', nan, 'Yes', 'Yes', 'Yes', 'Yes']
['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']
['Yes', 'Yes', 'Yes', 'Yes', nan, 'Yes', 'Yes', 'Yes']

After Assigning NaN Payment_of_Min_Amount: ['No NaN Value']

After Assigning Example Payment_of_Min_Amount:

['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']
['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']
['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']
['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']
['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']

In [634]:
X = df.drop("Credit_Score", axis=1)

In [635]:
X.head()

,Customer_ID,Month,Age,Occupation,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Spent_Behaviour,Value_Payments_Behaviour
0,3392,1,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,26.822620,265.0,No,49.574949,80.415295,312.494089,1,1,1,0,0,0,1,0,0,0,High,Small
1,3392,2,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,809.98,31.944960,266.0,No,49.574949,118.280222,284.629162,1,1,1,0,0,0,1,0,0,0,Low,Large
2,3392,3,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,28.609352,267.0,No,49.574949,81.699521,331.209863,1,1,1,0,0,0,1,0,0,0,Low,Medium
3,3392,4,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,809.98,31.377862,268.0,No,49.574949,199.458074,223.451310,1,1,1,0,0,0,1,0,0,0,Low,Small
4,3392,5,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,809.98,24.797347,269.0,No,49.574949,41.420153,341.489231,1,1,1,0,0,0,1,0,0,0,High,Medium

In [636]:
X = pd.get_dummies(X, drop_first=True)

In [637]:
pd.options.display.max_columns = 50
X.head()

,Customer_ID,Month,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,3392,1,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,26.822620,265.0,49.574949,80.415295,312.494089,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,3392,2,23.0,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,809.98,31.944960,266.0,49.574949,118.280222,284.629162,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,3392,3,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,28.609352,267.0,49.574949,81.699521,331.209863,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0
3,3392,4,23.0,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,809.98,31.377862,268.0,49.574949,199.458074,223.451310,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
4,3392,5,23.0,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,809.98,24.797347,269.0,49.574949,41.420153,341.489231,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0

In [638]:
y = df.Credit_Score.map(lambda x: 0 if x=="Poor" else x) \
                    .map(lambda x: 1 if x=="Standard" else x) \
                    .map(lambda x: 2 if x=="Good" else x)
y.unique()

array([2, 1, 0], dtype=int64)

In [639]:
df.Credit_Score = y

In [640]:
df

,Customer_ID,Month,Age,Occupation,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Spent_Behaviour,Value_Payments_Behaviour
0,3392,1,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,26.822620,265.0,No,49.574949,80.415295,312.494089,2,1,1,1,0,0,0,1,0,0,0,High,Small
1,3392,2,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,809.98,31.944960,266.0,No,49.574949,118.280222,284.629162,2,1,1,1,0,0,0,1,0,0,0,Low,Large
2,3392,3,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,28.609352,267.0,No,49.574949,81.699521,331.209863,2,1,1,1,0,0,0,1,0,0,0,Low,Medium
3,3392,4,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,809.98,31.377862,268.0,No,49.574949,199.458074,223.451310,2,1,1,1,0,0,0,1,0,0,0,Low,Small
4,3392,5,23.0,Scientist,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,809.98,24.797347,269.0,No,49.574949,41.420153,341.489231,2,1,1,1,0,0,0,1,0,0,0,High,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,Mechanic,3359.415833,4.0,6.0,7.0,2.0,23.0,7.0,11.50,3.0,502.38,34.663572,378.0,No,35.104023,60.971333,479.866228,0,0,0,0,0,0,0,1,0,0,1,High,Large
99996,37932,5,25.0,Mechanic,3359.415833,4.0,6.0,7.0,2.0,18.0,7.0,11.50,3.0,502.38,40.565631,379.0,No,35.104023,54.185950,496.651610,0,0,0,0,0,0,0,1,0,0,1,High,Medium
99997,37932,6,25.0,Mechanic,3359.415833,4.0,6.0,7.0,2.0,27.0,6.0,11.50,3.0,502.38,41.255522,380.0,No,35.104023,24.028477,516.809083,0,0,0,0,0,0,0,1,0,0,1,High,Large
99998,37932,7,25.0,Mechanic,3359.415833,4.0,6.0,7.0,2.0,20.0,6.0,11.50,3.0,502.38,33.638208,381.0,No,35.104023,251.672582,319.164979,1,0,0,0,0,0,0,1,0,0,1,Low,Large
99999,37932,8,25.0,Mechanic,3359.415833,4.0,6.0,7.0,2.0,18.0,6.0,11.50,3.0,502.38,34.192463,382.0,No,35.104023,167.163865,393.673696,0,0,0,0,0,0,0,1,0,0,1,Low,Small

In [641]:
X

,Customer_ID,Month,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,3392,1,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,26.822620,265.0,49.574949,80.415295,312.494089,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,3392,2,23.0,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,809.98,31.944960,266.0,49.574949,118.280222,284.629162,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,3392,3,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,28.609352,267.0,49.574949,81.699521,331.209863,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0
3,3392,4,23.0,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,809.98,31.377862,268.0,49.574949,199.458074,223.451310,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
4,3392,5,23.0,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,809.98,24.797347,269.0,49.574949,41.420153,341.489231,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,3359.415833,4.0,6.0,7.0,2.0,23.0,7.0,11.50,3.0,502.38,34.663572,378.0,35.104023,60.971333,479.866228,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
99996,37932,5,25.0,3359.415833,4.0,6.0,7.0,2.0,18.0,7.0,11.50,3.0,502.38,40.565631,379.0,35.104023,54.185950,496.651610,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
99997,37932,6,25.0,3359.415833,4.0,6.0,7.0,2.0,27.0,6.0,11.50,3.0,502.38,41.255522,380.0,35.104023,24.028477,516.809083,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
99998,37932,7,25.0,3359.415833,4.0,6.0,7.0,2.0,20.0,6.0,11.50,3.0,502.38,33.638208,381.0,35.104023,251.672582,319.164979,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
99999,37932,8,25.0,3359.415833,4.0,6.0,7.0,2.0,18.0,6.0,11.50,3.0,502.38,34.192463,382.0,35.104023,167.163865,393.673696,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1

In [642]:
import numpy as np

In [643]:
X

,Customer_ID,Month,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,3392,1,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,26.822620,265.0,49.574949,80.415295,312.494089,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,3392,2,23.0,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,809.98,31.944960,266.0,49.574949,118.280222,284.629162,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,3392,3,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,28.609352,267.0,49.574949,81.699521,331.209863,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0
3,3392,4,23.0,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,809.98,31.377862,268.0,49.574949,199.458074,223.451310,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
4,3392,5,23.0,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,809.98,24.797347,269.0,49.574949,41.420153,341.489231,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,3359.415833,4.0,6.0,7.0,2.0,23.0,7.0,11.50,3.0,502.38,34.663572,378.0,35.104023,60.971333,479.866228,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
99996,37932,5,25.0,3359.415833,4.0,6.0,7.0,2.0,18.0,7.0,11.50,3.0,502.38,40.565631,379.0,35.104023,54.185950,496.651610,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
99997,37932,6,25.0,3359.415833,4.0,6.0,7.0,2.0,27.0,6.0,11.50,3.0,502.38,41.255522,380.0,35.104023,24.028477,516.809083,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
99998,37932,7,25.0,3359.415833,4.0,6.0,7.0,2.0,20.0,6.0,11.50,3.0,502.38,33.638208,381.0,35.104023,251.672582,319.164979,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
99999,37932,8,25.0,3359.415833,4.0,6.0,7.0,2.0,18.0,6.0,11.50,3.0,502.38,34.192463,382.0,35.104023,167.163865,393.673696,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1

In [644]:
index = X['Customer_ID']

In [645]:
indexes = X[['Customer_ID', 'Month']]

In [646]:
X = X.drop('Customer_ID Month'.split(), axis=1)
X.head()

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,26.822620,265.0,49.574949,80.415295,312.494089,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,23.0,1824.843333,3.0,4.0,3.0,4.0,-1.0,4.0,11.27,4.0,809.98,31.944960,266.0,49.574949,118.280222,284.629162,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,23.0,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,809.98,28.609352,267.0,49.574949,81.699521,331.209863,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0
3,23.0,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,809.98,31.377862,268.0,49.574949,199.458074,223.451310,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
4,23.0,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,11.27,4.0,809.98,24.797347,269.0,49.574949,41.420153,341.489231,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0

## FAMD: PCA para datos mixtos

In [647]:
X_num = X.iloc[:,0:26]
columns = X_num.columns

In [648]:
from sklearn.preprocessing import RobustScaler, StandardScaler

scaler = StandardScaler()
scaler.fit(X_num)

X_num = scaler.transform(X_num)

In [649]:
X_num = pd.DataFrame(X_num, columns=columns)
X_num.describe()

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan
count,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05
mean,3.050715e-16,9.691803e-17,-1.308820e-16,-4.860112e-17,-6.465939e-17,4.831691e-18,9.507062e-17,1.359979e-16,-1.587352e-16,-7.190692e-17,9.947598e-19,4.018830e-16,-2.543743e-17,-1.494982e-16,3.748113e-17,1.847411e-18,5.428547e-17,3.609557e-17,-3.652190e-17,-5.002221e-17,-5.286438e-17,-3.353762e-17,2.632561e-17,3.026912e-17,6.181722e-17,-3.836931e-18
std,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000005e+00
min,-1.794405e+00,-1.221945e+00,-2.455343e+00,-2.676988e+00,-1.548065e+00,-1.444147e+00,-1.490243e+00,-2.442747e+00,-1.508496e+00,-1.499106e+00,-1.234492e+00,-2.400925e+00,-2.209269e+00,-8.142598e-01,-3.116093e-01,-9.999500e+01,-6.058805e-01,-6.045060e-01,-6.023161e-01,-6.011081e-01,-6.086152e-01,-6.107092e-01,-5.934651e-01,-3.588455e-01,-6.060133e-01,-5.995293e-01
25%,-8.654482e-01,-8.067610e-01,-9.131897e-01,-7.418987e-01,-8.616672e-01,-6.266004e-01,-7.476566e-01,-6.866190e-01,-7.701586e-01,-7.234721e-01,-7.446373e-01,-8.271898e-01,-7.746819e-01,-5.929724e-01,-2.776483e-01,1.000050e-02,-6.058805e-01,-6.045060e-01,-6.023161e-01,-6.011081e-01,-6.086152e-01,-6.107092e-01,-5.934651e-01,-3.588455e-01,-6.060133e-01,-5.995293e-01
50%,-2.938663e-02,-3.456440e-01,-1.421132e-01,-2.581264e-01,-1.752694e-01,-2.178271e-01,-2.075940e-01,1.116211e-01,-1.619384e-01,-2.063831e-01,-2.251408e-01,4.028094e-03,-2.227583e-02,-3.117716e-01,-2.488571e-01,1.000050e-02,-6.058805e-01,-6.045060e-01,-6.023161e-01,-6.011081e-01,-6.086152e-01,-6.107092e-01,-5.934651e-01,-3.588455e-01,-6.060133e-01,-5.995293e-01
75%,8.066749e-01,5.524840e-01,6.289632e-01,7.094183e-01,6.255281e-01,5.997194e-01,4.674843e-01,7.502132e-01,6.626389e-01,5.692503e-01,4.499452e-01,8.230632e-01,8.103869e-01,3.001017e-01,-1.872992e-01,1.000050e-02,8.923403e-01,9.413869e-01,9.465322e-01,9.490985e-01,9.276712e-01,8.946872e-01,9.686140e-01,-3.588455e-01,9.504210e-01,9.389877e-01
max,2.107215e+00,3.454464e+00,2.171116e+00,2.644508e+00,2.227123e+00,2.234812e+00,2.762750e+00,1.867749e+00,2.951786e+00,2.896151e+00,3.092181e+00,3.462058e+00,1.833659e+00,1.263665e+01,4.497143e+00,1.000050e-02,5.387003e+00,7.124958e+00,5.593077e+00,7.149925e+00,5.536530e+00,6.916273e+00,5.654851e+00,2.786715e+00,7.176158e+00,7.093056e+00

In [650]:
X_cat = X.iloc[:,26:]
X_cat.head(2)

,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [651]:
for var in X_cat.columns:
    mu_sqrt = np.sqrt(X_cat[var].sum()/X_cat.shape[0])
    X_cat[var] = X_cat[var] / mu_sqrt

In [652]:
X_cat.head()

,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.850714,0.0,0.0,0.0,0.000000,0.000000,1.56271
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.850714,0.0,0.0,0.0,1.361534,0.000000,0.00000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.850714,0.0,0.0,0.0,1.361534,1.724164,0.00000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.850714,0.0,0.0,0.0,1.361534,0.000000,1.56271
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.850714,0.0,0.0,0.0,0.000000,1.724164,0.00000

In [653]:
X_cat.describe()

,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.261228,0.259230,0.256281,0.261992,0.257837,0.255656,0.266383,0.253614,0.260308,0.259230,0.252032,0.259692,0.258302,0.251078,0.770922,0.734466,0.579991,0.639914
std,0.965282,0.965821,0.966607,0.965075,0.966193,0.966773,0.963872,0.967310,0.965531,0.965821,0.967724,0.965696,0.966069,0.967972,0.636933,0.678649,0.814627,0.768450
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.297149,1.361534,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.297149,1.361534,1.724164,1.562710
max,3.828075,3.857584,3.901966,3.816905,3.878417,3.911506,3.753991,3.943002,3.841610,3.857584,3.967754,3.850714,3.871435,3.982831,1.297149,1.361534,1.724164,1.562710

In [654]:
for col in X_cat.columns:
    X_cat[col] = X_cat[col] - X_cat[col].mean()

In [655]:
X_cat.describe()

,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
count,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05
mean,3.154810e-17,-3.907985e-17,1.506351e-17,5.485390e-17,-1.075762e-16,-1.263345e-16,1.094236e-17,3.495870e-17,4.064304e-17,-3.824496e-17,-8.256507e-17,-7.545964e-17,-1.989520e-17,-3.467449e-17,-1.612932e-17,-1.969624e-16,-6.309619e-17,1.034550e-16
std,9.652820e-01,9.658205e-01,9.666071e-01,9.650748e-01,9.661932e-01,9.667726e-01,9.638720e-01,9.673104e-01,9.655306e-01,9.658205e-01,9.677238e-01,9.656963e-01,9.660690e-01,9.679718e-01,6.369333e-01,6.786491e-01,8.146267e-01,7.684503e-01
min,-2.612279e-01,-2.592296e-01,-2.562811e-01,-2.619924e-01,-2.578372e-01,-2.556560e-01,-2.663832e-01,-2.536139e-01,-2.603075e-01,-2.592296e-01,-2.520317e-01,-2.596921e-01,-2.583021e-01,-2.510777e-01,-7.709215e-01,-7.344658e-01,-5.799914e-01,-6.399141e-01
25%,-2.612279e-01,-2.592296e-01,-2.562811e-01,-2.619924e-01,-2.578372e-01,-2.556560e-01,-2.663832e-01,-2.536139e-01,-2.603075e-01,-2.592296e-01,-2.520317e-01,-2.596921e-01,-2.583021e-01,-2.510777e-01,-7.709215e-01,-7.344658e-01,-5.799914e-01,-6.399141e-01
50%,-2.612279e-01,-2.592296e-01,-2.562811e-01,-2.619924e-01,-2.578372e-01,-2.556560e-01,-2.663832e-01,-2.536139e-01,-2.603075e-01,-2.592296e-01,-2.520317e-01,-2.596921e-01,-2.583021e-01,-2.510777e-01,5.262274e-01,6.270680e-01,-5.799914e-01,-6.399141e-01
75%,-2.612279e-01,-2.592296e-01,-2.562811e-01,-2.619924e-01,-2.578372e-01,-2.556560e-01,-2.663832e-01,-2.536139e-01,-2.603075e-01,-2.592296e-01,-2.520317e-01,-2.596921e-01,-2.583021e-01,-2.510777e-01,5.262274e-01,6.270680e-01,1.144172e+00,9.227958e-01
max,3.566848e+00,3.598354e+00,3.645684e+00,3.554913e+00,3.620580e+00,3.655850e+00,3.487608e+00,3.689388e+00,3.581303e+00,3.598354e+00,3.715722e+00,3.591021e+00,3.613133e+00,3.731753e+00,5.262274e-01,6.270680e-01,1.144172e+00,9.227958e-01

In [656]:
X = pd.concat([X_num, X_cat], axis=1)
X

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.220211,-1.005915,0.120990,-0.464928,-0.533485,-1.067562,0.439200,-0.439448,-0.272940,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,-0.734466,-0.579991,0.922796
1,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.490243,-1.484859,0.120990,-0.464928,-0.533485,-0.066489,0.449232,-0.439448,-0.254731,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,-0.639914
2,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.220211,-1.005915,0.120990,-0.464928,-0.533485,-0.718376,0.459264,-0.439448,-0.272322,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,0.627068,1.144172,-0.639914
3,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.085196,-1.484859,-0.635503,-0.464928,-0.533485,-0.177318,0.469296,-0.439448,-0.215695,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,0.922796
4,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.017688,-1.484859,0.120990,-0.464928,-0.533485,-1.463366,0.479328,-0.439448,-0.291691,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,-0.734466,1.144172,-0.639914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,0.129945,-1.005915,0.155789,-0.723472,-0.799776,0.464817,1.572825,-0.548856,-0.282290,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,-0.734466,-0.579991,-0.639914
99996,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,-0.207594,-1.005915,0.155789,-0.723472,-0.799776,1.618273,1.582857,-0.548856,-0.285553,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,-0.734466,1.144172,-0.639914
99997,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,0.399976,-1.165563,0.155789,-0.723472,-0.799776,1.753100,1.592889,-0.548856,-0.300055,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,-0.734466,-0.579991,-0.639914
99998,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,-0.072578,-1.165563,0.155789,-0.723472,-0.799776,0.264427,1.602921,-0.548856,-0.190586,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,-0.639914
99999,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,-0.207594,-1.165563,0.155789,-0.723472,-0.799776,0.372747,1.612953,-0.548856,-0.231224,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,0.922796

In [657]:
from sklearn.decomposition import PCA

pca = PCA(0.8)

In [658]:
pca.fit(X)

PCA(n_components=0.8)

In [659]:
print(pca.explained_variance_ratio_)
print(len(pca.explained_variance_ratio_))

[0.17502668 0.04380697 0.03140855 0.02507131 0.02484059 0.02471716
 0.02459126 0.02452251 0.02448172 0.02445203 0.02444257 0.02435927
 0.02433882 0.02432053 0.02428651 0.02426567 0.02419312 0.02408459
 0.02317288 0.02300037 0.02283102 0.0227075  0.02255602 0.02247712
 0.0223033  0.02190805 0.0215387 ]
27

In [660]:
print(pca.explained_variance_ratio_.sum())

0.8197047969437595

In [661]:
print(pca.singular_values_)

[849.05617177 424.7720141  359.67332481 321.34591039 319.86394861
 319.06824208 318.25459337 317.80943518 317.54495716 317.35235718
 317.29098662 316.74985284 316.61690015 316.49785952 316.27643927
 316.14070534 315.66777469 314.95891194 308.94010899 307.78800085
 306.6527918  305.82213398 304.80042746 304.26687458 303.08805523
 300.39047393 297.84756079]

In [662]:
X

,Age,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit-BuilderLoan,HomeEquityLoan,PersonalLoan,DebtConsolidationLoan,NotSpecified,PaydayLoan,AutoLoan,NoData,MortgageLoan,StudentLoan,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_Yes,Spent_Behaviour_Low,Value_Payments_Behaviour_Medium,Value_Payments_Behaviour_Small
0,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.220211,-1.005915,0.120990,-0.464928,-0.533485,-1.067562,0.439200,-0.439448,-0.272940,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,-0.734466,-0.579991,0.922796
1,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.490243,-1.484859,0.120990,-0.464928,-0.533485,-0.066489,0.449232,-0.439448,-0.254731,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,-0.639914
2,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.220211,-1.005915,0.120990,-0.464928,-0.533485,-0.718376,0.459264,-0.439448,-0.272322,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,0.627068,1.144172,-0.639914
3,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.085196,-1.484859,-0.635503,-0.464928,-0.533485,-0.177318,0.469296,-0.439448,-0.215695,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,0.922796
4,-0.958344,-0.744544,-0.913190,-0.741899,-1.319266,0.190946,-1.017688,-1.484859,0.120990,-0.464928,-0.533485,-1.463366,0.479328,-0.439448,-0.291691,0.010001,0.892340,0.941387,0.946532,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,-0.599529,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,-0.260308,-0.25923,-0.252032,3.591021,-0.258302,-0.251078,-0.770922,-0.734466,1.144172,-0.639914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,0.129945,-1.005915,0.155789,-0.723472,-0.799776,0.464817,1.572825,-0.548856,-0.282290,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,-0.734466,-0.579991,-0.639914
99996,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,-0.207594,-1.005915,0.155789,-0.723472,-0.799776,1.618273,1.582857,-0.548856,-0.285553,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,-0.734466,1.144172,-0.639914
99997,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,0.399976,-1.165563,0.155789,-0.723472,-0.799776,1.753100,1.592889,-0.548856,-0.300055,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,-0.734466,-0.579991,-0.639914
99998,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,-0.072578,-1.165563,0.155789,-0.723472,-0.799776,0.264427,1.602921,-0.548856,-0.190586,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,-0.639914
99999,-0.772552,-0.262946,-0.527651,0.225646,-0.861667,-0.626600,-0.207594,-1.165563,0.155789,-0.723472,-0.799776,0.372747,1.612953,-0.548856,-0.231224,0.010001,-0.605881,-0.604506,-0.602316,-0.601108,-0.608615,-0.610709,0.968614,-0.358845,-0.606013,0.938988,-0.261228,-0.25923,-0.256281,-0.261992,-0.257837,-0.255656,-0.266383,-0.253614,3.581303,-0.25923,-0.252032,-0.259692,-0.258302,-0.251078,-0.770922,0.627068,-0.579991,0.922796

In [663]:
from sklearn.model_selection import GroupShuffleSplit


gss = GroupShuffleSplit(n_splits=2, test_size=0.3, random_state=0)
for train_index, test_index in gss.split(X, groups=index):
    print("Train:", train_index, "Test:", test_index)
    X_train = X.iloc[train_index, :]
    y_train = y[train_index]
    X_test = X.iloc[test_index, :]
    y_test = y[test_index]

Train: [    0     1     2 ... 99989 99990 99991] Test: [   16    17    18 ... 99997 99998 99999]
Train: [    0     1     2 ... 99997 99998 99999] Test: [    8     9    10 ... 99949 99950 99951]